REMEMBER_ENVIRONMENT=staging
REMEMBER_ENABLE_WORKBENCH=true
REMEMBER_ALLOW_ACCOUNT_REGISTRATION=false
REMEMBER_ALLOWED_HOSTS=["REPLACE_WITH_DOMAIN","127.0.0.1","localhost"]
REMEMBER_DATABASE_URL=postgresql+psycopg://rememberme@/remember_me?host=/var/run/postgresql
REMEMBER_OBJECT_STORE_BACKEND=s3
REMEMBER_OBJECT_STORE_BUCKET=REPLACE_WITH_PRIVATE_BUCKET
REMEMBER_OBJECT_STORE_REGION=ap-southeast-1
REMEMBER_STT_BACKEND=groq
REMEMBER_GROQ_API_KEY=REPLACE_WITH_GROQ_KEY
REMEMBER_GROQ_ASR_STATE_DIR=/var/lib/remember-me/groq-asr
REMEMBER_STT_TIMEOUT_SECONDS=300
REMEMBER_AI_BACKEND=http
REMEMBER_AI_CORE_URL=http://127.0.0.1:8879
REMEMBER_AI_TIMEOUT_SECONDS=90
REMEMBER_API_PORT=8877
NO_PROXY=localhost,127.0.0.1,::1,169.254.169.254
